# Node.js
node_modules/

# TypeScript
/dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# MacOS
.DS_Store

# VSCode
.vscode/

# Others
*.log

# Coverage
coverage/

# Build
build/
